@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uno | @Page.Title</title>
    @Scripts.Render("~/js/basic")
    @Styles.Render("~/css/bootstrap")
    @RenderSection("head", required: false)
</head>
<body>
@RenderBody()
</body>
</html>
