@using System.Web.Optimization
@model global::WebClient.Controllers.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    @Scripts.Render("~/Scripts/bootstrap.min.js")


</head>
<body>
<div>
    @using (@Html.BeginForm("LogIn", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">@LocalRes.Login</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(lvm => lvm.Username, new { @class = "form-control", id = "inputUsername" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">@LocalRes.Password</label>
            <div class="col-sm-10">
                @Html.PasswordFor(lvm => lvm.Password, new {@class="form-control", id= "inputPassword" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">@LocalRes.SignIn</button>
                @Html.ActionLink(LocalRes.Register, "Register", new {}, new {@class="btn btn-default"})
            </div>
        </div>
    }
</div>
</body>
</html>
