@using System.Web.Optimization
@model global::WebClient.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/Register.js")
</head>
<body>
<div>
    @using (@Html.BeginForm("SignUp", "Home", FormMethod.Post))
    {
        @*<div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(rvm => rvm.Email, new {@class = "form-control", id = "inputEmail", type = "email"})
            </div>
        </div>*@
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(rvm => rvm.Username, new { @class = "form-control", id = "inputUsername" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                @Html.PasswordFor(rvm => rvm.Password, new { @class = "form-control", id = "inputPassword" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="btn-singup" class="btn btn-default">Sign up</button>
            </div>
        </div>
    }
</div>
</body>
</html>
