@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @Styles.Render("~/Content/Game.less")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
    @Scripts.Render("~/Scripts/mustache.min.js")
    <script id="new-card-template" type="x-tmpl-mustache">
        <button class="card btn btn-default {{color}}" data-color="{{color}}" disabled="disabled">{{content}}</button>
    </script>
    <script id="log-item-template" type="x-tmpl-mustache">
        <li class="list-group-item">{{description}}</li>
    </script>
    <script id="score-table-template" type="x-tmpl-mustache">
        <table class="table" id="score-table">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{#table}}
                <tr>
                    <td></td>
                    <td>{{player}}</td>
                    <td>{{score}}</td>
                </tr>
                {{/table}}
            </tbody>
        </table>
    </script>
}

    <div class="cards">
        @for (var i = 0; i < player.Cards.Count; i++)
        {
            var card = player.Cards[i];
            var colorClass = @card.Color.ToString().ToLower();
            <button data-color="@colorClass" class="card btn btn-default @colorClass" @Help.If(gameSession.CurrentPlayer != player,"disabled")>@card.ToString()</button>
        }
    </div>

    <div class="top-card @gameSession.DiscardPileTop.Color.ToString().ToLower()">
        @gameSession.DiscardPileTop.ToString()
    </div>
    <button class="btn-draw btn btn-default">Draw</button>
    <button class="btn-pass btn btn-default" disabled="disabled">Pass</button>
    <button class="btn-uno btn btn-default" disabled="disabled">Uno</button>

    <div id="log" class="thumbnail">
        <ul class="list-group">
            @for (var i = 0; i < gameSession.Log.Entries.Count; i++)
            {
                var entry = gameSession.Log.Entries[i];
                <li class="list-group-item">@entry.Description</li>
            }
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="choose-color-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button data-dismiss="modal" data-color="red" class="btn red"/>
                    <button data-dismiss="modal" data-color="green" class="btn green"/>
                    <button data-dismiss="modal" data-color="yellow" class="btn yellow"/>
                    <button data-dismiss="modal" data-color="blue" class="btn blue"/>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="score-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                 
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success fade" id="congrats-alert">Congratulations!!!</div>
<div class="alert alert-danger fade" id="wrong-card-alert">Wrong card!!!</div>