@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @Styles.Render("~/Content/Game.less")

    @Scripts.Render("~/Scripts/angular.min.js")
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
    @Scripts.Render("~/Scripts/mustache.min.js")
}
<div id="wrapper" ng-app="App" ng-controller="MainController" ng-init="init()">
    <div class="cards">
            <button ng-repeat="card in cards" data-color="{{card.color}}" class="card btn btn-default {{card.color}}" ng-disabled="!isCurrentPlayer" ng-click="move($index)" >{{card.content}}</button>
    </div>

    <div class="top-card {{topCard.color}}">
        {{topCard.content}}
    </div>
    <div class="buttons">
        <button class="btn-draw btn btn-default" ng-disabled="!(isCurrentPlayer && canDraw)" ng-click="draw()">Draw</button>
        <button class="btn-pass btn btn-default" ng-disabled="!(isCurrentPlayer && canPass)" ng-click="pass()">Pass</button>
        <button class="btn-uno btn btn-default" ng-disabled="!(isCurrentPlayer && cards.length == 2)" ng-click="uno()">Uno</button>
    </div>

    <div class="other-players">
        <div class="other-player" ng-repeat="otherPlayer in otherPlayers">
            <div><span class="current-player-marker" ng-show="otherPlayer.active"></span>{{otherPlayer.name}}</div>
            <div>{{otherPlayer.cardsCount}}</div>
        </div>
    </div>

    <!-- Modal -->
    <script type="text/ng-template" id="chooseColorModalTemplate">
        <div class="modal-body">
            <button ng-repeat="color in colors" class="btn {{color}}" ng-click="choose(color)"></button>
        </div>
    </script>
    <script type="text/ng-template" id="scoreModalTemplate">
        <div class="modal-body">
            <table class="table" id="score-table">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows">
                        <td></td>
                        <td>{{row.player}}</td>
                        <td>{{row.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div id="alerts" ng-controller="AlertsController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.timeout}}" close="closeAlert($index)">{{alert.text}}</alert>
    </div>
</div>