@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @Styles.Render("~/Content/Game.less")

    @Scripts.Render("~/Scripts/angular.min.js")
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
    @Scripts.Render("~/Scripts/mustache.min.js")
    <script id="new-card-template" type="x-tmpl-mustache">
        <button class="card btn btn-default {{color}}" data-color="{{color}}" disabled="disabled">{{content}}</button>
    </script>
    <script id="log-item-template" type="x-tmpl-mustache">
        <li class="list-group-item">{{description}}</li>
    </script>
    <script id="score-table-template" type="x-tmpl-mustache">
        <table class="table" id="score-table">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{#table}}
                <tr>
                    <td></td>
                    <td>{{player}}</td>
                    <td>{{score}}</td>
                </tr>
                {{/table}}
            </tbody>
        </table>
    </script>
}
<div id="wrapper" ng-app="App" ng-controller="MainController" ng-init="init()">
    <div class="cards">
            <button ng-repeat="card in cards" data-color="{{card.color}}" class="card btn btn-default {{card.color}}" ng-disabled="!isCurrentPlayer" ng-click="move($index)" >{{card.content}}</button>
    </div>

    <div class="top-card {{topCard.color}}">
        {{topCard.content}}
    </div>
    <button class="btn-draw btn btn-default" ng-disabled="!canDraw" ng-click="draw()">Draw</button>
    <button class="btn-pass btn btn-default" ng-disabled="!canPass" ng-click="pass()">Pass</button>
    <button class="btn-uno btn btn-default" ng-disabled="!canUno" ng-click="uno()">Uno</button>

    @*<div id="log" class="thumbnail">
        <ul class="list-group">
            @for (var i = 0; i < gameSession.Log.Entries.Count; i++)
            {
                var entry = gameSession.Log.Entries[i];
                <li class="list-group-item">@entry.Description</li>
            }
        </ul>
    </div>*@

    <!-- Modal -->
    <script type="text/ng-template" id="chooseColorModalTemplate">
        <div class="modal-body">
            <button ng-repeat="color in colors" class="btn {{color}}" ng-click="choose(color)"></button>
        </div>
    </script>
    <script type="text/ng-template" id="scoreModalTemplate">
        <div class="modal-body">
            <table class="table" id="score-table">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows">
                        <td></td>
                        <td>{{row.player}}</td>
                        <td>{{row.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div id="alerts" ng-controller="AlertsController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.timeout}}" close="closeAlert($index)">{{alert.text}}</alert>
    </div>
</div>