@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @Styles.Render("~/Content/Game.less")
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
}

<div class="cards">   
    @for (var i = 0; i < player.Cards.Count; i++)
    {
        var card = player.Cards[i];
        var colorClass = @card.Color.ToString().ToLower();
        <button data-color="@colorClass" class="card btn btn-default @colorClass" @(gameSession.CurrentPlayer != player ? "disabled" : "")>@card.ToString()</button>
    }
</div>

<div class="top-card @gameSession.DiscardPileTop.Color.ToString().ToLower()">
    @gameSession.DiscardPileTop.ToString()
</div>
<button class="btn-draw btn btn-default">Draw</button> 
<button class="btn-pass btn btn-default" disabled="disabled">Pass</button>
<button class="btn-uno btn btn-default" disabled="disabled">Uno</button>
