@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @Styles.Render("~/Content/Game.less")

    @Scripts.Render("~/Scripts/angular/angular.min.js")
    <script src="~/Scripts/angular/angular-animate.min.js"></script>
    <script src="~/Scripts/angular/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
    @Scripts.Render("~/Scripts/mustache.min.js")
}
<div id="wrapper" ng-app="App" ng-controller="MainController" ng-init="init()">
    <div class="cards">
        <card ng-repeat="card in cards" color="{{card.color}}" type="{{card.type}}" ng-class="{disabled: !isCurrentPlayer}" ng-click="move($index)" content="{{card.content}}"></card>
    </div>

    <div id="top-card-wrapper">
         <card color="{{topCard.color}}" type="{{topCard.type}}" content="{{topCard.content}}">
        </card>
    </div>
    <div class="buttons">
        <button class="btn-draw btn btn-default" ng-disabled="!(isCurrentPlayer && canDraw)" ng-click="draw()">Draw</button>
        <button class="btn-pass btn btn-default" ng-disabled="!(isCurrentPlayer && canPass)" ng-click="pass()">Pass</button>
        <button class="btn-uno btn btn-default" ng-disabled="!(isCurrentPlayer && cards.length == 2)" ng-click="uno()">Uno</button>
    </div>

    <div class="other-players">
        <div class="other-player" ng-repeat="otherPlayer in otherPlayers">
            <div><span class="current-player-marker" ng-show="otherPlayer.active"></span>{{otherPlayer.name}}
            </div>
            <div>{{otherPlayer.cardsCount}}</div>
        </div>
    </div>

    <!-- Modal -->
    <script type="text/ng-template" id="chooseColorModalTemplate">
        <div class="modal-body">
            <button ng-repeat="color in colors" class="btn {{color}}" ng-click="choose(color)"></button>
        </div>
    </script>
    <script type="text/ng-template" id="scoreModalTemplate">
        <div class="modal-body">
            <table class="table" id="score-table">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rows">
                        <td></td>
                        <td>{{row.player}}</td>
                        <td>{{row.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <div id="alerts" ng-controller="AlertsController">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.timeout}}" close="closeAlert($index)">{{alert.text}}</alert>
    </div>
</div>

<script id="reverse-template" type="text/ng-template">
    <div class="reverse">
        <div class="arrows">
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
</script>
<!--///-->
<script id="skip-template" type="text/ng-template">
    <div class="skip"></div>
</script>
<!--////-->
<script id="plus-two-template" type="text/ng-template">
    <div class="plus-two"></div>
</script>
<!--///-->
<script id="wild-template" type="text/ng-template">
    <div class="wild">
        <div class="segment yellow"></div>
        <div class="segment green"></div>
        <div class="segment blue"></div>
        <div class="segment red"></div>
    </div>
</script>
<!--///-->
<script id="plus-four-template" type="text/ng-template">
    <div class="plus-four">
        <div class="card1"></div>
        <div class="card2"></div>
        <div class="card3"></div>
        <div class="card4"></div>
    </div>
</script>