@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    var gameSession = Model;
    var player = ViewBag.Player;
    Page.Title = "Uno";
}
@section head {
    @*@Styles.Render("~/Content/Game.less")*@
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Game.js")
}

<div class="cards">   
    @for (var i = 0; i < player.Cards.Count; i++)
    {
        var card = player.Cards[i];
        if (gameSession.CurrentPlayer == player)
        {
            <button class="card btn-default btn">@card.ToString()</button>
        }
        else
        {
            <button class="card btn btn-default" disabled="disabled">@card.ToString()</button>
        }
    }
</div>

<div class="top-card">
    @gameSession.Game.DiscardPileTop.ToString()
</div>
<button class="btn-draw btn btn-default">Draw</button> 
<button class="btn-pass btn btn-default" disabled="disabled">Pass</button>
