@using System.Web.Optimization
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Rooms";
}

@section head {
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Room.js")
}

@{
    var rooms = ViewBag.RoomContainer.Rooms;
}
@for (int i = 0; i < rooms.Count; i++)
{
    var room = rooms[i];
    <div class="jumbotron" style="width: 200px; padding: 5px; margin: 5px; display: inline-block;">
        <div class="players">
            @foreach (var player in room.Players)
            {
                <p>@player.Name</p>
            }

        </div>
        @if (ViewBag.CanJoin)
        {
            <button class="btn-join btn btn-default">Join</button>
        }
        @using (Html.BeginForm("Start", "Room", FormMethod.Get))
        {
            @Html.Hidden("id", i)
            <input type="submit" value="Start" class="btn-start btn btn-default" style="display: @(room.CanStart ? "block" : "none")"/>
        }
    </div>
}
